
.form{
    text-align: center;
   
}
.titulo{
  font-size: 30px;
  margin-bottom: 20px;
    
}
.boton{
    padding: 10px;
    cursor: pointer;
}
.cuadro{
    padding: 10px;
}
.p p{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}
.img{
    margin-left: 24%;
    margin-bottom: -150px;
}